body {
    margin: 0;
    padding:0;
    background-image: url(c:\Users\HI\Videos\pexels-mia-stein-3894157.jpg);
    background-size:cover;
    background-position: center;



}

/* .main{
    height:350px;
    width: 400px;
    background: rgb(rgb(32, 165, 189), rgb(124, 168, 124), rgba(171, 171, 250, 0.897));
    overflow: auto;
    border-radius: 10px;
    box-shadow: black;
} */

.signup{
    width: 300px;
    box-shadow: black;
    background: #fff;
    padding: 40px;
    margin: 8% auto 0;
    text-align: center;

    border: 2px solid rgb(17, 12, 12);
    border-radius: 5px;

    background-color: #999;



}

h1{
    color: rgb(42, 95, 165);
    margin-bottom: 20px;

    border-style: double;
    border-radius: 5px;
}


.input-box{

    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

    .signup-button{
    background-color:rgba(16, 88, 221, 0.815);
    width:50%;
    padding:10px;
    cursor:pointer;
    border-radius:20px;
}
 
.signin-button{
    background-color:rgba(16, 88, 221, 0.815);
    width:50%;
    padding:10px;
    cursor:pointer;
    border-radius:20px;
}